@use "../global.scss";

section {
  &.footer {
    height: 100%;
    width: 100%;
    padding: 2rem;
    background-color: global.$c03;

    .contentFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p.text {
        color: global.$c00;
        margin: 0;
      }
    }
  }
}